@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #7a7a7a;
    --modal-header-color: #695CFE;
    --text-color-form:#000;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    width: 100%;
    overflow: hidden;
    
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-color-form:rgb(216, 215, 215);
    
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close{
    width: 88px;
}

.nav-linkp{
    
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
}

.nav-linkp a{
    padding: 15px 0px;
}

.sidebar header .image-perfil,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

/* =========================== */

.sidebar header{
    position: relative;
    display: flex;
}

.sidebar header .header__image-perfil{
    display: flex;
    align-items: center;
}

.sidebar header .header__image-perfil{
    display: flex;
    align-items: center;
}

.sidebar header .header__text {
    display: flex;
    flex-direction: column;
}

header .header__image-perfil .username {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .header__image-perfil .correo{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image-perfil img{
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menubar{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .Container-menubar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.Container-menubar::-webkit-scrollbar{
    display: none;
}

.sidebar .Container-menubar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.Container-menubar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}

body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.Container-menubar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 280px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-right: 80px;
    margin-top: 20px;
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 127px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--text-color);
}

.nav-linkp.desplegable {
    display: block;
}

.menu-desplegable{
    height: 0px;
    transition: height .4s;
    margin-left: 30px;
    border-left: 2px solid #303440;
}

.menu-desplegable li a{
    padding-left: 20px;
}

.correo{
    font-size: 13px;
}


footer{
    position: absolute;
    right: 0;
    bottom: 0;
}



/*  mis estilos */

table{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
   
}

.row{
    padding-top: 20px;
}
.home table,
.home{
    color:var(--text-color-form);
}

.section-title {
    font-size: 36px;
    font-family: 'Bungee Inline', cursive;
    color: var(--text-color);
}

thead {
    background-color: #695CFE;
}

.home{
    overflow: scroll;
}

.modal-header{
    background-color: var(--modal-header-color) !important;
}

#formulario{
    background-color: var(--body-color);
    color: var(--text-color-form);

}


#formulario input,
#formulario select,
#formulario label{
    background: transparent;
    color: var(--text-color-form);
}   

#formulario select>option{
    background: transparent;
    color: #000;
}
 
.table-hover>tbody>tr:hover>*{
    cursor: pointer;
    color: inherit;
}